<!DOCTYPE html>  
<html>  
<head>  
<meta charset="UTF-8"/>  
<script src="/static/js/jquery-1.10.1.min.js" type="text/javascript"></script>


	
	<!--引用boostrap-fileinput-->
	<script src="/static/js/bootstrap-fileinput/fileinput.js"></script> 
	<script src="/static/js/bootstrap-fileinput/fileinput.min.js"></script> 
	
	
	<link href="/static/css/bootstrap-fileinput/fileinput.css" rel="stylesheet" type="text/css"/>
	<link href="/static/css/bootstrap-fileinput/fileinput.min.css" rel="stylesheet" type="text/css"/>
	
	<link href="/static/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
	<link href="/static/bootstrap-3.3.7-dist/css/bootstrap.css" rel="stylesheet" type="text/css"/>
	<script src="/static/bootstrap-3.3.7-dist/js/bootstrap.js"></script> 
	<script src="/static/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script> 
	
	
<!--	<link href="/static/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
	<link href="/static/bootstrap-3.3.7-dist/css/bootstrap.css" rel="stylesheet" type="text/css"/>-->


<style>
</style>


</head>  
<body>  
    <form role="form" id="importFile" method="post"
                        enctype="multipart/form-data">
                        <div class="row">
                        </div>
                        <input id="uploadfile" name="txt_file" class="file-loading"
                            type="file" multiple accept=".xls,.xlsx" data-min-file-count="1"
                            data-show-preview="true"> <br>
                    </form>
  
</body>  


<script>
 $("#uploadfile").fileinput({
                language: 'zh', //设置语言
                uploadUrl: "/exec_cmd/upload_files/", //上传的地址
                allowedFileExtensions: ['txt', 'docx', 'xlsx','png','doc'],//接收的文件后缀
                //uploadExtraData:{"id": 1, "fileName":'123.mp3'},
                uploadAsync: true, //默认异步上传
                showUpload: true, //是否显示上传按钮
                showRemove : true, //显示移除按钮
                showPreview : true, //是否显示预览
                showCaption: false,//是否显示标题
                browseClass: "btn btn-primary", //按钮样式     
                dropZoneEnabled: false,//是否显示拖拽区域
                //minImageWidth: 50, //图片的最小宽度
                //minImageHeight: 50,//图片的最小高度
                //maxImageWidth: 1000,//图片的最大宽度
                //maxImageHeight: 1000,//图片的最大高度
                //maxFileSize: 0,//单位为kb，如果为0表示不限制文件大小
                //minFileCount: 0,
                maxFileCount: 10, //表示允许同时上传的最大文件个数
                enctype: 'multipart/form-data',
                validateInitialCount:true,
                previewFileIcon: "<i class='glyphicon glyphicon-king'></i>",
                msgFilesTooMany: "选择上传的文件数量({n}) 超过允许的最大数值{m}！",
            });
//异步上传返回结果处理
$('#uploadfile').on('fileerror', function(event, data, msg) {
            console.log(data.id);
            console.log(data.index);
            console.log(data.file);
            console.log(data.reader);
            console.log(data.files);
            // get message
});
//异步上传返回结果处理
$("#uploadfile").on("fileuploaded", function (event, data, previewId, index) {
               console.log(data.id);
               console.log(data.index);
               console.log(data.file);
               console.log(data.reader);
               console.log(data.files);
                var obj = data.response;
                alert(JSON.stringify(data.success));
                
            });

//同步上传错误处理
       $('#uploadfile').on('filebatchuploaderror', function(event, data, msg) {
            console.log(data.id);
            console.log(data.index);
            console.log(data.file);
            console.log(data.reader);
            console.log(data.files);
            // get message
            alert(msg);
         });
   //同步上传返回结果处理
   $("#uploadfile").on("filebatchuploadsuccess", function (event, data, previewId, index) {
           console.log(data.id);
               console.log(data.index);
               console.log(data.file);
               console.log(data.reader);
               console.log(data.files);
                var obj = data.response;
                alert(JSON.stringify(data.success));
      });
//上传前
$('#uploadfile').on('filepreupload', function(event, data, previewId, index) {
        var form = data.form, files = data.files, extra = data.extra,
            response = data.response, reader = data.reader;
        console.log('File pre upload triggered');
    });
	
	
	
	
	
</script>



</html>  